.section-top
    display: flex
    flex-direction: row
    align-items: center
    justify-content: start
    gap: 20px
    .left
        flex: 1
        img
            width: 100%
    .right
        flex: 4
        .description
            font-size: 18px
            color: #777777
            text-align: justify
        .title
            text-align: left
.divider
    max-width: min(600px, 100vw)
    margin-top: 20px
    margin-bottom: 10px
.title
    text-align: center
    font-size: 30px
    font-weight: bolder
