<mat-toolbar color="primary">
  <mat-toolbar-row class="navbar">
    <h1 routerLink="/"> ReadCode </h1>
    <div class="navbar-links">
      <a routerLink="/" class="navbar-link">Dashboard</a>
      <!-- Protected links -->
      <span *ngIf="isLoggedIn">
        <a routerLink="/projects" class="navbar-link">Projects</a>
        <!-- <a routerLink="/starred" class="navbar-link">Starred</a> -->
      </span>
    </div>
    <div class="navbar-buttons">
      <button
        mat-raised-button
        *ngIf="isLoggedIn"
        (click)="logout()"
        color="primary"
        class="navbar-button"
        >Logout</button
      >
      <button
        mat-raised-button
        *ngIf="!isLoggedIn"
        routerLink="/login"
        >Login</button
      >
    </div>
  </mat-toolbar-row>
</mat-toolbar>
